.head__container
  .bone__left
    .top
    .topwhite
    .bottom
    .bottomwhite
  .bone__right
    .top
    .topwhite
    .bottom
    .bottomwhite
  .head
  .mouth
  .teeths
  .hat--ribbon
  .hat--flap
  .forehead
  .nose